BOUNCER_ENV=prod
FIREBASE_API_KEY=AIzaSyCog9TwTeMEow5bWE9esJw8el3oSOeUA7I
FIREBASE_AUTH_DOMAIN=bouncer-180ba.firebaseapp.com
FIREBASE_PROJECT_ID=bouncer-180ba
FIREBASE_STORAGE_BUCKET=bouncer-180ba.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=739221928933
FIREBASE_APP_ID=1:739221928933:web:516efa2fb8574bd363cd0c
GOOGLE_CLIENT_ID=739221928933-ano3gr1v8iskuhlb3ndtiqe5f8p49im9.apps.googleusercontent.com
IMBUE_WS_URL=wss://prod.aibutler.api.imbue.com
